.popup {
  padding: 20px;
}
.container {
  max-width: 580px;
}
.popup-container {
  width: 120px;
}
.main {
  text-align: center;
}
.help-block {
  text-align: left;
}
.form-group.optional label {
  color: #555;
}
.form-group label small {
  font-weight: normal;
  font-style: italic;
  color: #737373;
}
